// Colors


// Fonts 
%e-ukraine-300 {
  font-family: 'e-Ukraine-Light';
  font-weight: 300;
}

%e-ukraine-400 {
  font-family: 'e-Ukraine-Regular';
  font-weight: 400;
}

%e-ukraine-500 {
  font-family: 'e-Ukraine-Medium';
  font-weight: 500;
}

%e-ukraine-700 {
  font-family: 'e-Ukraine-Bold';
  font-weight: 700;
}

%e-ukraine-head-400 {
  font-family: 'e-UkraineHead-Regular';
  font-weight: 400;
}